.home-content {
    padding: 24px;
    min-height: 100vh;
    margin-left: 10px; /* This adds 10px margin on the left */
  }
  
  .home-card {
    border-radius: 8px;
    margin-left: 12px; /* This adds 12px margin on the left, which will be in addition to the content's margin */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .home-content {
      padding: 16px;
      margin-left: 0; /* Remove left margin on smaller screens */
    }
  
    .home-card {
      margin-left: 0; /* Remove additional left margin on smaller screens */
    }
  }
  