:root {
    --primary-color: #1890ff;
    
    --header-bg-light: #ffffff;
    --header-text-light: #000000;
    --header-shadow-light: rgba(0, 0, 0, 0.15);
    
    --header-bg-dark: #001529;
    --header-text-dark: #ffffff;
    --header-shadow-dark: rgba(255, 255, 255, 0.15);
    
    --sidebar-bg-light: #ffffff;
    --sidebar-bg-dark: #001529;
    
    --footer-bg: #f0f2f5;
    --footer-text: rgba(0, 0, 0, 0.65);
    --footer-link: rgba(0, 0, 0, 0.45);
    
    --item-hover-bg-light: #e6f7ff;
    --item-hover-bg-dark: #1890ff;
  }
  
  [data-theme='dark'] {
    --footer-bg: #001529;
    --footer-text: rgba(255, 255, 255, 0.65);
    --footer-link: rgba(255, 255, 255, 0.45);
  }
  